* {
    font-family: Arial, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: #F0E68C;
    text-align: left;
    list-style: none;
    margin: 10px 5px;
    padding: 5px;
    width: 450px;
    /* border: 2px solid red; */
}

li {
    
}

li a,
.header,
.para {
    background-color: #FFD700;
    border: 2px solid #F08080;

}

.header {

}

.para {
    
}

body {
    background-color: #191970;
}

ul {
    background-color: #191970;
}