* {
    font-family: Arial, Verdana, sans-serif;
    box-sizing: border-box;
    width: 600px;
    /* border: 2px solid black; */
    /* used for debug purposes */
    text-decoration: none;
}

body {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

ul {
    padding: 5px;
}

li {
    list-style: none;
}